<div class="row">
  <div class="three columns">
    <div class="field">
      <label soho-label>Row 1 column 1</label>
      <input soho-lookup />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label>Row 1 column 2</label>
      <input soho-lookup />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label>Row 1 column 3</label>
      <input soho-lookup />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label>Row 1 column 4</label>
      <input soho-lookup />
    </div>
  </div>
</div>
<div class="row">
  <div class="three columns">
    <div class="field">
      <label soho-label [required]="true">Row 2 column 1</label>
      <input soho-lookup />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label [required]="true">Row 2 column 2</label>
      <input soho-lookup />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label [required]="true">Row 2 column 3</label>
      <input soho-lookup />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label [required]="true">Row 2 column 4</label>
      <input soho-lookup />
    </div>
  </div>
</div>
<div class="row">
  <div class="three columns">
    <div class="field">
      <label soho-label [required]="true">Extra Small</label>
      <input soho-lookup class="input-xs" />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label [required]="true">Small</label>
      <input soho-lookup class="input-sm" />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label [required]="true">Medium</label>
      <input soho-lookup class="input-md" />
    </div>
  </div>
  <div class="three columns">
    <div class="field">
      <label soho-label [required]="true">Large</label>
      <input soho-lookup class="input-lg" />
    </div>
  </div>
</div>
