<div soho-homepage>
    <div soho-widget>
        <div soho-widget-header>
            <h1 soho-widget-title>Editor 1</h1>
        </div>
        <div soho-widget-content style="background-color: rgb(247, 232, 247);">
            <div soho-editor role="textbox" aria-multiline="true">
            </div>
        </div>
    </div>
    <div soho-widget>
        <div soho-widget-header>
            <h1 soho-widget-title>Editor 2</h1>
        </div>
        <div soho-widget-content style="background-color: rgb(235, 247, 231);">
            <div soho-editor role="textbox" aria-multiline="true">
            </div>
        </div>
    </div>
</div>