<div soho-tabs class="is-personalizable">
    <div soho-tab-list-container>
        <ul soho-tab-list>
            <li soho-tab>
                <a soho-tab-title tabId="tabA">Tab A</a>
            </li>
            <li soho-tab>
                <a soho-tab-title tabId="tabB">Tab B</a>
            </li>
            <li soho-tab>
                <a soho-tab-title tabId="tabC">Tab C</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <section class="six columns">
        <p>
            The tabs component throws an error.
        </p>
    </section>
</div>