<div class="row">
  <p>Buttons outside of widgets:</p>
  <button soho-button="primary">Primary</button>
  <button soho-button="secondary">Secondary</button>
  <button soho-button="tertiary">Tertiary</button>
  <button soho-button="icon" icon="more"></button>
</div>

<div soho-homepage>
  <div soho-widget>
    <div soho-widget-header>
      <h2 soho-widget-title>Title</h2>
      <button soho-menu-button class="btn-actions"></button>
      <ul soho-popupmenu>
        <li soho-popupmenu-item>
          <a soho-popupmenu-label>Item A</a>
        </li>
        <li soho-popupmenu-item>
          <a soho-popupmenu-label>Item B</a>
        </li>
      </ul>
    </div>
    <div soho-widget-content>
      <p>Buttons inside a widget:</p>
      <button soho-button="primary">Primary</button>
      <button soho-button="secondary">Secondary</button>
      <button soho-button="tertiary">Tertiary</button>
    </div>
  </div>
</div>
