<p>
  Accordion elements stay focused (iOS Safari)
</p>

<div soho-homepage>
  <div soho-widget>
    <div soho-widget-header>
      <div soho-widget-title>
        <h2>Widget</h2>
      </div>
    </div>
    <div soho-widget-content>
      <soho-accordion>
        <soho-accordion-header>Accordion 1</soho-accordion-header>
        <soho-accordion-pane>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsum ut rem saepe voluptates quidem voluptas eveniet nisi eligendi at eum repudiandae voluptatem cupiditate facilis et temporibus, vitae rerum pariatur!</p>
          </div>
        </soho-accordion-pane>

        <soho-accordion-header>Accordion 2</soho-accordion-header>
        <soho-accordion-pane>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsum ut rem saepe voluptates quidem voluptas eveniet nisi eligendi at eum repudiandae voluptatem cupiditate facilis et temporibus, vitae rerum pariatur!</p>
          </div>
        </soho-accordion-pane>

        <soho-accordion-header>Accordion 3</soho-accordion-header>
        <soho-accordion-pane>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsum ut rem saepe voluptates quidem voluptas eveniet nisi eligendi at eum repudiandae voluptatem cupiditate facilis et temporibus, vitae rerum pariatur!</p>
          </div>
        </soho-accordion-pane>

        <soho-accordion-header>Accordion 4</soho-accordion-header>
        <soho-accordion-pane>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsum ut rem saepe voluptates quidem voluptas eveniet nisi eligendi at eum repudiandae voluptatem cupiditate facilis et temporibus, vitae rerum pariatur!</p>
          </div>
        </soho-accordion-pane>

        <soho-accordion-header>Accordion 5</soho-accordion-header>
        <soho-accordion-pane>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsum ut rem saepe voluptates quidem voluptas eveniet nisi eligendi at eum repudiandae voluptatem cupiditate facilis et temporibus, vitae rerum pariatur!</p>
          </div>
        </soho-accordion-pane>


      </soho-accordion>
    </div>
  </div>
</div>
