<soho-icons></soho-icons>
<soho-icons-ext></soho-icons-ext>
<soho-icons-empty></soho-icons-empty>

<div soho-homepage>
  <div soho-widget>
    <div soho-widget-header>
      <div soho-widget-title>
        <h2>First Widget Title</h2>
      </div>
    </div>
    <div soho-widget-content>
      <h1>BEGIN First Widget Content</h1>
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">First List Title</h2>
        </div>
        <div class="card-content">
          <soho-listview>
            <li soho-listview-item *ngFor="let item of list">
              {{item}}
            </li>
          </soho-listview>
        </div>
      </div>
      <h1>END First Widget Content</h1>
    </div>
  </div>

  <div soho-widget>
    <div soho-widget-header>
      <div soho-widget-title>
        <h2>Second Widget Title</h2>
      </div>
    </div>
    <div soho-widget-content>
      <h1>BEGIN Second Widget Content</h1>
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Second List Title</h2>
        </div>
        <div class="card-content">
          <soho-listview>
            <li soho-listview-item *ngFor="let item of list">
              {{item}}
            </li>
          </soho-listview>
        </div>
      </div>
      <h1>END Second Widget Content</h1>
    </div>
  </div>
</div>