<soho-icons></soho-icons>
<soho-icons-ext></soho-icons-ext>
<soho-icons-empty></soho-icons-empty>

<nav soho-application-menu [openOnLarge]="false">
  <soho-accordion [allowOnePane]="false" [inverse]="true">
    <soho-accordion-header [isExpanded]="true">Top-level header</soho-accordion-header>
    <soho-accordion-pane>
      <soho-accordion-header *ngFor="let link of links$ | async" (click)="openLink(link)">
        <span>{{link}}</span>
      </soho-accordion-header>
    </soho-accordion-pane>
  </soho-accordion>
</nav>
<div class="page-container">
  	<soho-header [hasToolbar]="true">
		<soho-toolbar>
			<soho-toolbar-title>
				<button soho-nav-button>Toggle menu</button>
				<h1 class="page-title">{{title}}</h1>
			</soho-toolbar-title>
		</soho-toolbar>
	</soho-header>
  <soho-listview>
    <li soho-listview-item *ngFor="let log of logs$ | async">
        <p soho-listview-header>{{log}}</p>
    </li>
  </soho-listview>
</div>