<p>
  The widget below is not scrollable in iOS Safari. The items are not clickable. Because soho-context-menu
</p>

<div soho-homepage>
  <div soho-widget>
    <div soho-widget-header>
      <div soho-widget-title>
        <h2>Widget</h2>
      </div>
    </div>
    <div soho-widget-content>
      <div class="right-clickable" soho-context-menu menu="menuId">
        <ul>
          <li (click)="itemClicked('1')"><h1>Click Me 1</h1></li>
          <li (click)="itemClicked('2')"><h1>Click Me 2</h1></li>
          <li (click)="itemClicked('3')"><h1>Click Me 3</h1></li>
          <li (click)="itemClicked('4')"><h1>Click Me 4</h1></li>
          <li (click)="itemClicked('5')"><h1>Click Me 5</h1></li>
          <li (click)="itemClicked('6')"><h1>Click Me 6</h1></li>
          <li (click)="itemClicked('7')"><h1>Click Me 7</h1></li>
          <li (click)="itemClicked('8')"><h1>Click Me 8</h1></li>
          <li (click)="itemClicked('9')"><h1>Click Me 9</h1></li>
          <li (click)="itemClicked('10')"><h1>Click Me 10</h1></li>
          <li (click)="itemClicked('11')"><h1>Click Me 11</h1></li>
          <li (click)="itemClicked('12')"><h1>Click Me 12</h1></li>
          <li (click)="itemClicked('13')"><h1>Click Me 13</h1></li>
          <li (click)="itemClicked('14')"><h1>Click Me 14</h1></li>
          <li (click)="itemClicked('15')"><h1>Click Me 15</h1></li>
          <li (click)="itemClicked('16')"><h1>Click Me 16</h1></li>
          <li (click)="itemClicked('17')"><h1>Click Me 17</h1></li>
          <li (click)="itemClicked('18')"><h1>Click Me 18</h1></li>
          <li (click)="itemClicked('19')"><h1>Click Me 19</h1></li>
        </ul>
      </div>
      <ul soho-popupmenu id="menuId">
          <li soho-popupmenu-item><a>A</a></li>
          <li soho-popupmenu-item><a>B</a></li>
          <li soho-popupmenu-item><a>C</a></li>
          <li soho-popupmenu-item><a>D</a></li>
      </ul>
    </div>
  </div>
</div>